html, body {
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Inter', sans-serif;
	color: #0F093F;
}

body {
	padding: 60px;
}

header {
	display: flex;
}

header img {
	widows: 182px;
	height: 58px;
}

header h3 {
	margin-left: auto;
	color: rgba(15, 9, 63, 0.5);
}

header h3 a {
	text-decoration: none;
	color: #6857DD;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login img {
	margin-top: 100px;
}

.login h1 {
	margin-bottom: 0;
}

.login h3 {
	margin-top: 0;
	color: rgba(15, 9, 63, 0.5);
}

form {
	display: grid;
	margin-top: 30px;
}


.login input::selection {
	color: white;
	background: #6857DD;
}

.login form div {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login button {
	cursor: pointer;
	margin-right: 20px;
	background-color: #6857DD;
	color: white;
	outline: none;
	border: none;
	border-radius: 50px;
	font-weight: bold;
	font-size: 24px;
	padding: 20px 40px;
}

.login h3 {
	font-size: 16px;
	margin: 0;
}

.login h3 a {
	color: #6857DD;
	text-decoration: none;
}

:focus{outline: none;}

/* necessary to give position: relative to parent. */
input[type="text"], input[type="password"] {
	font: 15px/24px 'Inter', sans-serif; 
	color: #333; 
	width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
}

:focus {
	outline: none;
}

.col-3 {
	float: left; 
	position: relative;
} /* necessary to give position: relative to parent. */

input[type="text"], input[type="password"] {
	font: 15px/24px "Inter", sans-serif; 
	color: #0F093F; 
	width: 100%; 
	box-sizing: border-box; 
	letter-spacing: 1px;
}

.effect-7,
.effect-8,
.effect-9 {
	border: 2px solid rgba(15, 9, 63, 0.5);; 
	padding: 7px 14px 9px; 
	transition: 0.4s;
}

.effect-7 ~ .focus-border:before,
.effect-7 ~ .focus-border:after{
	content: ""; 
	position: absolute; 
	top: 0; left: 50%; 
	width: 0; 
	height: 3px; 
	background-color: #6857DD; 
	transition: 0.4s;
}

.effect-7 ~ .focus-border:after {
	top: auto; 
	bottom: 0;
}

.effect-7 ~ .focus-border i:before,
.effect-7 ~ .focus-border i:after {
	content: ""; 
	position: absolute; 
	top: 50%; 
	left: 0; 
	width: 3px; 
	height: 0; 
	background-color: #6857DD; 
	transition: 0.6s;
}

.effect-7 ~ .focus-border i:after {
	left: auto; 
	right: 0;
}

.effect-7:focus ~ .focus-border:before,
.effect-7:focus ~ .focus-border:after {
	left: 0; 
	width: 100%; 
	transition: 0.4s;
}

.effect-7:focus ~ .focus-border i:before,
.effect-7:focus ~ .focus-border i:after {
	top: 0; 
	height: 100%; 
	transition: 0.6s;
}